<img src="/elements-paper-knowledge-base-bootstrap4-html-template-8K6TZS-y57RT5xe-04-27/paper-knowledgebase-all-files/paper-knowledgebase/production-version/assets/img/wiki/shop-the-deal.png" alt="" width="100%" />

<script src="https://gist.github.com/gerardoin18/57a52aed6fa1967e31d034c93c246a67.js"></script>

<!--PRODUCTS-->
<div class="products section-pad">
    <div class="container">
        <div class="product-title text-center mb-5">
            <h1 class="fw-700 f-montserrat">SHOP THE DEAL</h1>
            <p class="text-red  f-montserrat" style="color: red;">
                Use the Discount Code: SCALPMASSAGE to save 20% when you buy the Oil and Tea Rinse <strong><em>TOGETHER!</em></strong></p>
        </div>
        <ul style="border-bottom:none;max-width: 15%" class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Limited Time Offer</a
            >
          </li>
        </ul>
        <hr class="hr-3" style="border-top:1px solid black!important"/>
        <div class="tab-content" id="myTabContent" style="font-weight:500">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row" style="margin-top:10px">
              
          <div class="col-md-6 m-mb-30">
            <div class="product-card text-center">
              <a class="img-hover" href="https://bellebarorganic.com/products/onion-garlic-thickening-ayurvedic-herb-hair-oil?variant=14287753773129"
                >
                
                <img
                  height="300px"
                  class="mb-2"
                 
                  src="https://cdn.shopify.com/s/files/1/1075/6742/products/Onion_Garlic_-_web_2048x.jpg?v=1565016739"
                  alt=""
              /></a>

                <p><a class="product-name text-black" href="https://bellebarorganic.com/products/curly-proverbz-belle-bar-organic-ayurvedic-hair-growth-challenge-henna?variant=31097218400329">Onion & Garlic Thickening Ayurvedic Herb Hair Oil</a
                ></p>
              $ 39.00
              <div class="product-price d-flex justify-content-center mt-3" style="color:red">
                Discount Price - $31.00 ( 2 Bottles In Every Order)
              </div>
     
              <form method="post" action="/cart/add" id="product_form_1608535736393" accept-charset="UTF-8" class="product-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
            <select name="id" id="ProductSelect-product-template1" class="product-single__variants1" style="display: none;">
              
                
                  <option selected="selected" data-sku="HO-ONGAR-4" value="14287753773129">4oz - 2 (2oz) bottles - $ 39.00 USD</option>
                
              
            </select>
            <div class="price_qty">
                        
                          <div class="product-single__quantity" style="display: none;">
                            <label for="Quantity">Qty.</label>
                            <div class="qtyds">
                            <input type="button" value="-" class="qtyminus" field="updates_">
                            <input type="number" id="updates_" name="quantity" value="1" min="1">
                             <input type="button" value="+" class="qtyplus" field="updates_">
                          </div></div>
                      <div class="product-single__cart-submit-wrapper">
                          <button type="submit" name="add" id="AddToCart" class="btn product-single__cart-submit" style="display:block;margin:auto;background:black!important;color:white!important;">
                            <img src="//cdn.shopify.com/s/files/1/1075/6742/t/35/assets/package.png?51138" alt="some alt">
                            <span id="AddToCartText">Add to Cart</span>
                          </button>
                          
                        </div>

                </div>
                        
            </form>
            </div>
             </div>
          <div class="col-md-6 m-mb-30">
            <div class="product-card text-center">
              <a class="img-hover" href="https://bellebarorganic.com/products/green-tea-length-strengthening-tea-rinse?variant=32677858764"
                >
                
                <img
                  height="300px"
                  class="mb-2"
                 
                  src="https://cdn.shopify.com/s/files/1/1075/6742/products/Green_Tea_web_2048x.jpg?v=1562978635"
                  alt=""
              /></a>

                    <p><a class="product-name text-black" href="https://cdn.shopify.com/s/files/1/1075/6742/products/11_28_3_900x.jpg?v=1576600944">Green Tea Length Strengthening Tea Rinse</a
                ></p>
              $ 35.00
              <div class="product-price d-flex justify-content-center mt-3" style="color:red">
                Discount Price - $28.00
              </div>
     
              <form method="post" action="/cart/add" id="product_form_9427303116" accept-charset="UTF-8" class="product-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
            <select name="id" id="ProductSelect-product-template1" class="product-single__variants1" style="display: none;">
              
                
                  <option selected="selected" data-sku="TR-GRNT-9" value="32677858764">9 teas - $ 35.00 USD</option>
                
              
            </select>
            <div class="price_qty">
                        
                          <div class="product-single__quantity" style="display: none;">
                            <label for="Quantity">Qty.</label>
                            <div class="qtyds">
                            <input type="button" value="-" class="qtyminus" field="updates_">
                            <input type="number" id="updates_" name="quantity" value="1" min="1">
                             <input type="button" value="+" class="qtyplus" field="updates_">
                          </div></div>
                      <div class="product-single__cart-submit-wrapper">
                          <button type="submit" name="add" id="AddToCart" class="btn product-single__cart-submit" style="display:block;margin:auto;background:black!important;color:white!important;">
                            <img src="//cdn.shopify.com/s/files/1/1075/6742/t/35/assets/package.png?51138" alt="some alt">
                            <span id="AddToCartText">Add to Cart</span>
                          </button>
                          
                        </div>

                </div>
                        
            </form>
            </div>
             </div>
<!--           {% for product in collections.homepage.products %}
          
        {% assign img_url = product.featured_image  %}

          <div class="col-md-4 m-mb-30">
            <div class="product-card text-center">
              <a class="img-hover" href="{{ product.url }}"
                >
                
                <img
                  width="100%"
                  class="mb-2"
                  height="209px"
                  src="{{ product.images[0] | product_img_url: 'large' }}"
                  alt=""
              /></a>

                        <p style="height:70px"><a class="product-name text-black" href="{{ product.url | within: collection }}">{{ product.title }}</a
                ></p>
              <div class="product-price d-flex justify-content-center mt-3">
                {% if product.price < product.compare_at_price %}
                <p class="pr-3">{{ product.price | money }}</p>
                <p class="old-price">{{ product.compare_at_price | money }}</p>
              </div>
              <p class="discount">$ {{ product.compare_at_price | minus: product.price | divided_by: 100 }}.00 Holiday Discount</p>
                {% else %}
                <p class="pr-3" style="height:41px">{{ product.price | money }}</p>
              </div>
                {% endif %}
              <a href="{{ product.url }}" class="btn btn-subscribe">
                View more
              </a>
    </div>
</div>

{% endfor %} -->
</div>
</div>
<!--           <div
            class="tab-pane fade show active"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="row" style="margin-top:10px">
          {% for product in collections.best-sellers-january.products limit:6 %}
          
        {% assign img_url = product.featured_image  %}

          <div class="col-md-4 m-mb-30">
            <div class="product-card text-center">
              <a class="img-hover" href="{{ product.url }}"
                >
                
                <img
                  style="margin-top:20px"
                  width="100%"
                  class="mb-2"
                  height="320px"
                  src="{{ product.images[0] | product_img_url: 'large' }}"
                  alt=""
              /></a>

              <p style="height:70px"><a class="product-name text-black" href="{{ product.url | within: collection }}"
                >{{ product.title }}</a
                ></p>
              <div class="product-price d-flex justify-content-center mt-3">
                {% if product.price < product.compare_at_price %}
                <p class="pr-3">{{ product.price | money }}</p>
                <p class="old-price">{{ product.compare_at_price | money }}</p>
              </div>
              <p class="discount">$ {{ product.compare_at_price | minus: product.price | divided_by: 100 }}.00 Holiday Discount</p>
                {% else %}
                <p class="pr-3" style="height:41px">{{ product.price | money }}</p>
              </div>
                {% endif %}
              <a href="{{ product.url }}" class="btn btn-subscribe">
                View more
              </a>
            </div>
          </div>
          
        {% endfor %}
            </div> -->
<!--         </div> -->
<div class="tab-pane fade " id="under50" role="tabpanel" aria-labelledby="under50-tab">
    <div class="row" style="margin-top:10px">
        {% for product in collections.holiday-collection-under-50.products limit:6 %} {% assign img_url = product.featured_image %}

        <div class="col-md-4 m-mb-30">
            <div class="product-card text-center">
                <a class="img-hover" href="{{ product.url }}">

                    <img width="100%" class="mb-2" height="350px" src="{{ product.images[0] | product_img_url: 'large' }}" alt="" /></a>

                <p style="height:70px"><a class="product-name text-black" href="{{ product.url | within: collection }}">{{ product.title }}</a
                ></p>
              <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}" style="text-align:center;color:red"> Reviews</div>

              <div class="product-price d-flex justify-content-center mt-3">
                {% if product.price < product.compare_at_price %}
                <p class="pr-3">{{ product.price | money }}</p>
                <p class="old-price">{{ product.compare_at_price | money }}</p>
              </div>
              <p class="discount">$ {{ product.compare_at_price | minus: product.price | divided_by: 100 }}.00 Holiday Discount</p>
                {% else %}
                <p class="pr-3" style="height:41px">{{ product.price | money }}</p>
              </div>
                {% endif %}
              <a href="{{ product.url }}" class="btn btn-subscribe">
                View more
              </a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
<div class="tab-pane fade " id="under100" role="tabpanel" aria-labelledby="under100-tab">
    <div class="row" style="margin-top:10px">
        {% for product in collections.holiday-collection-under-100.products limit:6 %} {% assign img_url = product.featured_image %}

        <div class="col-md-4 m-mb-30">
            <div class="product-card text-center">
                <a class="img-hover" href="{{ product.url }}">
                    <div style="height:270px" ;>
                        <img width="100%" class="mb-2" height="auto" src="{{ product.images[0] | product_img_url: 'large' }}" alt="" /></div>
                </a>

                <p style="height:70px"><a class="product-name text-black" href="{{ product.url | within: collection }}">{{ product.title }}</a
                ></p>
              <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}" style="text-align:center"></div>

              <div class="product-price d-flex justify-content-center mt-3">
                {% if product.price < product.compare_at_price %}
                <p class="pr-3">{{ product.price | money }}</p>
                <p class="old-price">{{ product.compare_at_price | money }}</p>
              </div>
              <p class="discount">$ {{ product.compare_at_price | minus: product.price | divided_by: 100 }}.00 Holiday Discount</p>
                {% else %}
                <p class="pr-3" style="height:41px">{{ product.price | money }}</p>
              </div>
                {% endif %}
              <a href="{{ product.url }}" class="btn btn-subscribe">
                View more
              </a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

</div>

</div>
</div>
</div>
<!--PRODUCTS-->